@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
  @font-face{
    font-family:"jameel-noori-nastaleeq";
    src:url("../fonts/jameel-noori-nastaleeq.ttf") format("woff"),
    url("../fonts/jameel-noori-nastaleeq.ttf") format("opentype"),
    url("../fonts/jameel-noori-nastaleeq.ttf") format("truetype");
  }
} */

[x-cloak] {
  display: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar-track {
	background-color: transparent;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
	background-color: rgb(109 40 217);
}
.scrollbar-hide {
	scrollbar-width: auto;
}
.scrollbar-hide::-webkit-scrollbar {
	width: 1px;
	height: 2px;
}
/*.scrollbar-hide::-webkit-scrollbar {
   display: none; 
} */
/* Hide scrollbar for IE, Edge and Firefox */
/*.scrollbar-hide {*/
/* -ms-overflow-style: none;   */
/* IE and Edge */
/* scrollbar-width: none;   */
/* Firefox */
/*}*/